Language:        Cpp
BasedOnStyle:    Google
Standard:        c++20
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
PointerAlignment: Left
SortIncludes:    true
IncludeBlocks:   Preserve
BreakBeforeBraces: Attach
KeepEmptyLinesAtTheStartOfBlocks: false